<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpdemo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcpdemo.Perspective"
            id="rcpdemo.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcpdemo.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcpdemo.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpdemo.commands.ExitHandler"
            id="rcpdemo.commands.Exit"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="filemenu"
               label="File">
            <command
                  commandId="rcpdemo.commands.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
         </menu>
         <menu
               id="searchmenu"
               label="Search">
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
         </menu>
         <menu
               id="projectmenu"
               label="Project">
            <command
                  commandId="org.eclipse.ui.project.properties"
                  label="Properties"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.project.closeProject"
                  label="CloseProject"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.project.openProject"
                  label="OpenProject"
                  style="push">
            </command>
         </menu>
         <menu
               id="runmenu"
               label="Run">
            <command
                  commandId="org.eclipse.ui.edit.move"
                  label="Move"
                  style="push">
            </command>
         </menu>
         <menu
               id="windowmenu"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newEditor"
                  label="New Editor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="New Window"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpmenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  label="Search"
                  style="push">
            </command>
         </menu>
         <menu
               id="editmenu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpdemo.ViewPart1"
            id="rcpdemo.view1"
            name="MyView"
            restorable="true">
         <description>
            description body text
         </description>
      </view>
      <view
            class="rcpdemo.ViewPart2"
            id="rcpdemo.view2"
            name="MyView2"
            restorable="true">
         <description>
            description body table
         </description>
      </view>
   </extension>

</plugin>
